body {
	margin: 0;
	padding: 0;
    max-width: auto;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	padding: 20px;
}

header {
    background-color: #206f79;
    color: white;
    grid-column: 1/-1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}
header a {
    color: inherit;
    text-decoration:solid;
}

header h2 {
    text-shadow: 4px 4px 4px #454545;
}

header h2:hover {
    transform: scale(1.07);
    transition: transform 0.09s ease-in-out;
}

.box {
	background-color: rgb(240, 239, 239);
	padding: 20px;
	text-align: center;
    border-radius: 40px;
}

h3 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: #206f79;
    padding: 15px;
    color: white;
    text-align: left;
}

div p, div a {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

img {
    margin-top: 30px;
    width: 100%;
}
footer {
    font-size: 24px;
    text-align: center;
    background-color: #206f79;
    color: white;
    margin: 20px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}


@media screen and (max-width: 1348px) {

	main {
		grid-template-columns: repeat(2, 1fr);
	}

    .box:nth-child(4) {
		grid-column: 1 / -1;
		width: auto;
    }

    header {
        font-size: 30px;
    }
}

@media screen and (max-width: 834px) {
	main {
		grid-template-columns: repeat(1, 1fr);
    }

    header {
        font-size: 20px;
    }
    
}