
    body {
        background-color: rgb(0, 0, 0);
        max-height: 2000vh;
        min-width: 46vh;
        min-height: 170vh;
    }
    
    /* Header */

    .banner {
        color: black;
        text-align: center;
        padding: 10px;
        background: rgb(216, 216, 195);

    }

    header {
        background-color: black;
        font-family: 'Lato', sans-serif;

    }
    
    img {
        width: 120px;
        height: auto;
        border-radius: 10px;
    }
    
    .headers {
        background-color: black;
        line-height: 3px;
        padding-top: 30px;
        color: white;
        display: flex;
        
    }
    
    .headers h1 {
        font-size: 15px;
    }
    
    .headers h2 {
        font-size: 8px;

    }

    .name {
        flex-direction: column;
        margin-top: 30px;
        width: 70%;
        background-color: black;
        text-align: left;
    }
    
    .social-icons {
        background-color: black;
        padding: 5px;
        width: 60%;
        text-align: right;

    }
    
    .social-icons img {
        height: 30px;
        width: auto;
        padding-top: 40px;
    }

    .headers button {
        margin: .2rem 2vw;
        font-size: 2rem;
        color: white;
        background: transparent;
        border: none;
        width: 10%;

    }

    .headers button:hover {
        background-color: rgb(216, 216, 195);
        border-radius: 100px;

    }

    .now-date {
        background-color: rgb(121, 121, 121) ;
        display: block;
        text-align: center;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        color: white;
        border: 1px solid rgba(188, 188, 188, 0.5);
        font-size: 20px;
    }

    .nav-bar {
        background-color: black;
        text-align: center;
        padding-top: 35px;
        

    }

    .nav-bar ul {
        list-style-type: none;
        justify-content: center;
        margin: 0;
        padding: 0;
        display: none;
    }

    .nav-bar ul.open {
        display: block;
    }
    
    .nav-bar li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 20px 20px;
        font-size: 25px;
        border-bottom: 1px solid white;
    }
    
    .nav-bar li a:hover {
        background-color: white;
        color: black;
        padding: 20px 20px;
    }
    
    .nav-bar ul#secondaryNav {
        display: none;
    }
    
    #hamburgerBtn span:nth-child(1) {display: block;}
    #hamburgerBtn span:nth-child(2) {display: none;}

    #hamburgerBtn.open span:nth-child(1) {display: none;}
    #hamburgerBtn.open span:nth-child(2) {display: block;}

    /* Main */
    
    main {
        display: grid;
        grid-template-columns: 3fr 3fr 4fr;
        grid-template-rows: repeat(5, 4fr ) 15fr;
        text-align: center;
        height: auto;
        font-family: 'Lato', sans-serif;
    }
    
    .hero {
        background-color: rgb(216, 216, 195);
        grid-column: 1/4;
        grid-row: 1/2;
        margin: 10px;
        border-radius: 10px;
        position: relative;
    }

    .hero .hero-msg {
        position: absolute;
        font-size: 32px;
        color: white;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-shadow:  rgb(75, 75, 75) 5px 5px 5px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
    }

    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .hero .contact-button {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);


    }
    .hero .contact-button a {
        font-size: 20px;
        background-color: white;
        color: rgb(121, 121, 121);
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        
    }

    .hero .contact-button:hover a{
        background-color: rgb(121, 121, 121);
        color: white;
    }

    .event {
        background-color: rgb(216, 216, 195);
        grid-column: 1/4;
        grid-row: 2/3;
        margin: 10px;
        border-radius: 10px;
        position: relative;
    }

    .event-title {
        position: inherit;
        z-index: 1;
        color: white;
        font-size: 20px;
        padding: 10px;
        text-shadow:  rgb(75, 75, 75) 3px 3px 5px;
        background-color: rgba(0, 0, 0, 0.5);

    }

    .event-link {
        position: inherit;
        z-index: 1;
        font-size: 24px;
        color: rgb(121, 121, 121);
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
    }

    .event-link:hover {
        background-color: rgb(121, 121, 121);
        color: white;
    }

    .event img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
    
    .weather {
        background-color: rgb(216, 216, 195);
        grid-column: 1/4;
        grid-row: 3/4;
        margin: 10px;
        border-radius: 5px;
        position: relative;
    }

    .weather p {
        position: relative;
        z-index: 1;
        color: white;
        text-shadow:  rgb(75, 75, 75) 3px 3px 5px;
        font-size: 24px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .weather-title {
        font-size: 32px;
        text-shadow:  rgb(0, 0, 0) 2px 2px 3px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
    }

    #wind-speed, #wind-chill, #temperature{
        font-size: 32px;
        padding: 10px;
    }

    .weather img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .join {
        background-color: rgb(216, 216, 195);
        grid-column: 1/4;
        grid-row: 4/5;
        margin: 10px;
        border-radius: 5px;
        color: white;
        font-size: 24px;
    }

    .join-question {
        text-shadow:  rgb(0, 0, 0) 1px 1px 3px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .join-button a {
        color: rgb(121, 121, 121);
        background-color: rgb(255, 255, 255);
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;
        margin: 10px;
    }

    .join-button a:hover {
        background-color: rgb(121, 121, 121);
        color: white;
    }

    .join-p {
        color: black;
        padding: 10px;
    }
    
    .news {
        background-color: rgb(216, 216, 195);
        grid-column: 1/4;
        grid-row: 5/6;
        margin: 10px;
        border-radius: 5px;
        color: white;
    }

    .news-title {
        font-size: 32px;
        text-shadow:  rgb(0, 0, 0) 2px 2px 3px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;

    }

    .news-p {
        color: black;
        font-size: 18px;
        padding: 10px;
    }
    
    .sections {
        background-color: rgb(216, 216, 195);
        grid-column: 1/4;
        grid-row: 6/7;
        margin: 10px;
        border-radius: 10px;

    }
    
    .spotlight1 {
        background-color:rgb(187, 187, 187) ;
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 10px;
        height: 27%;
        border-radius: 10px;
        position: relative;
        font-size: 20px;


    }
    .spotlight1 .title-1 {
        padding: 10px;
        margin-top: 20px;
        position: relative;
        z-index: 1;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .spotlight1 .title-2 {
        padding: 5px;
        position: relative;
        z-index: 1;
        color: rgb(255, 255, 255);
        text-shadow:  rgb(0, 0, 0) 2px 2px 5px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .spotlight1 img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
    }

    .spotlight1 .truck {
        top: 60%;
        height: 60%;
        width: 60%;
    }

    .spotlight1 .road {
        object-fit: cover;

    }
    
    .spotlight2 {
        background-color:rgb(255, 255, 255) ;
        grid-column: 3/4;
        grid-row: 2/3;
        margin: 10px;
        height: 27%;
        border-radius: 10px;
        position: relative;
        font-size: 20px;
    }

    .spotlight2 .title-1 {
        padding: 10px;
        margin-top: 20px;
        position: relative;
        z-index: 1;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        text-shadow:  rgb(0, 0, 0) 1px 1px 5px;
    }

    .spotlight2 .title-2 {
        padding: 5px;
        position: relative;
        z-index: 1;
        color: rgb(255, 255, 255);
        text-shadow:  rgb(0, 0, 0) 2px 2px 5px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .spotlight2 img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .spotlight3 {
        background-color:rgb(255, 255, 255) ;
        grid-column: 3/4;
        grid-row: 3/4;
        margin: 10px;
        height: 27%;
        border-radius: 10px;
        position: relative;
        font-size: 20px;
    }

    .spotlight3 .title-1 {
        padding: 10px;
        margin-top: 20px;
        position: relative;
        z-index: 1;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        text-shadow:  rgb(0, 0, 0) 3px 3px 5px;
    }

    .spotlight3 .title-2 {
        padding: 5px;
        position: relative;
        z-index: 1;
        color: rgb(255, 255, 255);
        text-shadow:  rgb(0, 0, 0) 2px 2px 5px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .spotlight3 img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    /* Footer */
    
    footer {
        color: white;
        text-align: center;
        font-family: 'Lato', sans-serif;
        padding: 5px;
    }
    
    .footer-contact-info p a{
        color: white;
        text-decoration: none;
        background-color: rgb(121, 121, 121);
        padding: 10px;
    }
    
    .footer-contact-info p a:hover{
        color: rgb(121, 121, 121);
        background-color: white;
    
    }
    
    .footer-last {
        border-top: 1px solid white;
        padding: 15px;
    }
    


/*Discover Page */

.discover-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    background-color: rgb(216, 216, 195);
    height: auto;
}

.discover-page .demographic-data {
    grid-row: 1/2;
    grid-column: 1/4;
    color: black;
    background-color: rgb(216, 216, 195);
    padding: 20px;
    align-items: center;
  }
  
  .discover-page .demographic-data h2 {
    font-size: 48px;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    padding: 10px; 

  }
  
  .demographic-data ul {
    list-style-type: none;
    padding: 20px;
  }
  
  .discover-page .demographic-data li {
    margin: 10px;
    font-size: 24px;

  }

.discover-page .city-info {
    grid-row: 2/3;
    grid-column: 1/4;
    border-top: 1px solid black;
    color: black;
    background-color: rgb(216, 216, 195);
    display: grid;
    padding: 30px;
    font-size: 24px;
    line-height: 40px;
    align-items: center;
}

.discover-page .image-gallery {
    grid-row: 3/4;
    grid-column: 1/4;
    border-radius: 10px;

}

.discover-page .image-gallery img {
    margin: 1px;
    width: 80%;
}

.image-gallery img:hover {
    cursor: pointer;
}

.discover-page .image-gallery p {
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow:  rgb(0, 0, 0) 2px 2px 5px;
    margin: 10px;
    border-radius: 100px;

}


    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 9999;
    }

    .popup-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 90%;
        transform: scale(1.5);
        margin-left: 60px;
        margin-right: 60px;
        padding: 10px;
        margin-top: 70px;
        color: white;
    }

    #popupImage {
        max-width: 100%;
        max-height: 100%;
        opacity: 1;
    }

    #closeButton {
        margin-top: 20px;
        font-size: 1em;
        padding: 10px 20px;
        background-color: #fff;
        color: #000;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }

        .discover-page img {
            opacity: 0; 
            transition: opacity 0.3s ease;
        }

        img.is-visible {
            opacity: 1;
            transition: opacity 1.3s ease;

        }

        .image-loaded {
            transition: opacity 1.3s ease;
        }