
body {
background-color: rgb(0, 0, 0);
max-height: 2000vh;
min-width: 46vh;
min-height: 170vh;
}

/* Header */

.banner {
color: black;
text-align: center;
padding: 10px;
background: rgb(216, 216, 195);

}

header {
background-color: black;
font-family: 'Lato', sans-serif;

}

img {
width: 120px;
height: auto;
border-radius: 10px;
}

.headers {
background-color: black;
line-height: 3px;
padding-top: 30px;
color: white;
display: flex;
width: 100%;

}


.headers h1 {
font-size: 1.4em;
}

.headers h2 {
font-size: .7em;
padding: .3em;

}

.name {
flex-direction: column;
margin-top: 30px;
width: 70%;
background-color: black;
text-align: left;
}

.social-icons {
background-color: black;
padding: 5px;
width: 20%;
text-align: right;

}

.social-icons img {
height: 30px;
width: auto;
padding-top: 40px;
}

.headers button {
margin: .2rem 2vw;
font-size: 2rem;
color: white;
background: transparent;
border: none;
width: 10%;

}

.headers button:hover {
background-color: rgb(216, 216, 195);
border-radius: 100px;

}

.now-date {
background-color: rgb(121, 121, 121) ;
display: block;
text-align: center;
padding: 20px;
margin: 20px;
border-radius: 5px;
color: white;
border: 1px solid rgba(188, 188, 188, 0.5);
font-size: 20px;
}

.nav-bar {
background-color: black;
text-align: center;
padding-top: 35px;


}

.nav-bar ul {
list-style-type: none;
justify-content: center;
margin: 0;
padding: 0;
display: none;
}

.nav-bar ul.open {
display: block;
}

.nav-bar li a {
display: block;
color: white;
text-decoration: none;
padding: 20px 20px;
font-size: 25px;
border-bottom: 1px solid white;
}

.nav-bar li a:hover {
background-color: white;
color: black;
}

.nav-bar ul#secondaryNav {
display: none;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* Main */

main {
display: grid;
grid-template-columns: 3fr 3fr 4fr;
grid-template-rows: repeat(5, 4fr ) 15fr;
text-align: center;
height: auto;
font-family: 'Lato', sans-serif;
}

.hero {
background-color: rgb(216, 216, 195);
grid-column: 1/4;
grid-row: 1/2;
margin: 10px;
border-radius: 10px;
position: relative;
}

.hero .hero-msg {
position: absolute;
font-size: 32px;
color: white;
top: 10%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
text-shadow:  rgb(75, 75, 75) 5px 5px 5px;
background-color: rgba(0, 0, 0, 0.5);
padding: 5px;
}

.hero img {
width: 100%;
height: 100%;
object-fit: cover;

}

.hero .contact-button {
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);



}
.hero .contact-button a {
font-size: 1.2em;
background-color: white;
color: rgb(121, 121, 121);
padding: 10px;
border-radius: 5px;
text-decoration: none;

}

.hero .contact-button:hover a{
background-color: rgb(121, 121, 121);
color: white;
}

.event {
background-color: rgb(216, 216, 195);
grid-column: 1/4;
grid-row: 2/3;
margin: 10px;
border-radius: 10px;
position: relative;
}

.event-title {
position: inherit;
z-index: 1;
color: white;
font-size: 20px;
padding: 10px;
text-shadow:  rgb(75, 75, 75) 3px 3px 5px;
background-color: rgba(0, 0, 0, 0.5);

}

.event-link {
position: inherit;
z-index: 1;
font-size: 24px;
color: rgb(121, 121, 121);
background-color: rgb(255, 255, 255);
padding: 10px;
border-radius: 5px;
text-decoration: none;
}

.event-link:hover {
background-color: rgb(121, 121, 121);
color: white;
}

.event img {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 100%;
width: 100%;
object-fit: cover;

}

.weather {
background-color: rgb(216, 216, 195);
grid-column: 1/4;
grid-row: 3/4;
margin: 10px;
border-radius: 5px;
position: relative;
}

.weather p {
position: relative;
z-index: 1;
color: white;
text-shadow:  rgb(75, 75, 75) 3px 3px 5px;
font-size: 24px;
text-align: center;
margin-left: 10px;
margin-right: 10px;
}

.weather-title {
font-size: 32px;
text-shadow:  rgb(0, 0, 0) 2px 2px 3px;
background-color: rgba(0, 0, 0, 0.5);
padding: 5px;
}

#wind-speed, #wind-chill, #temperature{
font-size: 32px;
padding: 10px;
}

.weather .background-img {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 100%;
width: 100%;
object-fit: cover;
}



#weather-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(220%, 300%);
  height: 11%;
  width: 15%;
  object-fit: cover;
}

.join {
background-color: rgb(216, 216, 195);
grid-column: 1/4;
grid-row: 4/5;
margin: 10px;
border-radius: 5px;
color: white;
font-size: 24px;
}

.join-question {
text-shadow:  rgb(0, 0, 0) 1px 1px 3px;
background-color: rgba(0, 0, 0, 0.5);
}

.join-button a {
color: rgb(121, 121, 121);
background-color: rgb(255, 255, 255);
padding: 10px;
text-decoration: none;
border-radius: 5px;
margin: 10px;
}

.join-button a:hover {
background-color: rgb(121, 121, 121);
color: white;
}

.join-p {
color: black;
padding: 10px;
}

.news {
background-color: rgb(216, 216, 195);
grid-column: 1/4;
grid-row: 5/6;
margin: 10px;
border-radius: 5px;
color: white;
}

.news-title {
font-size: 32px;
text-shadow:  rgb(0, 0, 0) 2px 2px 3px;
background-color: rgba(0, 0, 0, 0.5);
padding: 5px;

}

.news-p {
color: black;
font-size: 18px;
padding: 10px;
}

.sections {
background-color: rgb(216, 216, 195);
grid-column: 1/4;
grid-row: 6/7;
margin: 10px;
border-radius: 10px;

}

.spotlight1 {
background-color:rgb(187, 187, 187) ;
grid-column: 3/4;
grid-row: 1/2;
margin: 10px;
height: 27%;
border-radius: 10px;
position: relative;
font-size: 20px;


}
.spotlight1 .title-1 {
padding: 10px;
margin-top: 20px;
position: relative;
z-index: 1;
color: white;
background-color: rgba(0, 0, 0, 0.5);
}

.spotlight1 .title-2 {
padding: 5px;
position: relative;
z-index: 1;
color: rgb(255, 255, 255);
text-shadow:  rgb(0, 0, 0) 2px 2px 5px;
background-color: rgba(0, 0, 0, 0.5);
}

.spotlight1 img {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 100%;
width: 100%;
}

.spotlight1 .truck {
top: 60%;
height: 60%;
width: 60%;
}

.spotlight1 .road {
object-fit: cover;

}

.spotlight2 {
background-color:rgb(255, 255, 255) ;
grid-column: 3/4;
grid-row: 2/3;
margin: 10px;
height: 27%;
border-radius: 10px;
position: relative;
font-size: 20px;
}

.spotlight2 .title-1 {
padding: 10px;
margin-top: 20px;
position: relative;
z-index: 1;
color: white;
background-color: rgba(0, 0, 0, 0.5);
text-shadow:  rgb(0, 0, 0) 1px 1px 5px;
}

.spotlight2 .title-2 {
padding: 5px;
position: relative;
z-index: 1;
color: rgb(255, 255, 255);
text-shadow:  rgb(0, 0, 0) 2px 2px 5px;
background-color: rgba(0, 0, 0, 0.5);
}

.spotlight2 img {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 100%;
width: 100%;
object-fit: cover;
}

.spotlight3 {
background-color:rgb(255, 255, 255) ;
grid-column: 3/4;
grid-row: 3/4;
margin: 10px;
height: 27%;
border-radius: 10px;
position: relative;
font-size: 20px;
}

.spotlight3 .title-1 {
padding: 10px;
margin-top: 20px;
position: relative;
z-index: 1;
color: white;
background-color: rgba(0, 0, 0, 0.5);
text-shadow:  rgb(0, 0, 0) 3px 3px 5px;
}

.spotlight3 .title-2 {
padding: 5px;
position: relative;
z-index: 1;
color: rgb(255, 255, 255);
text-shadow:  rgb(0, 0, 0) 2px 2px 5px;
background-color: rgba(0, 0, 0, 0.5);
}

.spotlight3 img {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 100%;
width: 100%;
object-fit: cover;
}

/* Footer */

footer {
color: white;
text-align: center;
font-family: 'Lato', sans-serif;
padding: 5px;
}

.footer-contact-info p a{
color: white;
text-decoration: none;
background-color: rgb(121, 121, 121);
padding: 10px;
}

.footer-contact-info p a:hover{
color: rgb(121, 121, 121);
background-color: white;

}

.footer-last {
border-top: 1px solid white;
padding: 15px;
}



/*---------- DISCOVER PAGE ----------*/

.discover-page {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 3fr;
background-color: rgb(216, 216, 195);
height: auto;
}

.discover-page .demographic-data {
grid-row: 1/2;
grid-column: 1/4;
color: black;
background-color: rgb(216, 216, 195);
padding: 20px;
align-items: center;
  }
  
  .discover-page .demographic-data h2 {
font-size: 48px;
margin-top: 50px;
color: rgb(0, 0, 0);
padding: 10px; 

  }
  
  .demographic-data ul {
list-style-type: none;
padding: 20px;
  }
  
  .discover-page .demographic-data li {
margin: 10px;
font-size: 24px;

  }

.discover-page .city-info {
grid-row: 2/3;
grid-column: 1/4;
border-top: 1px solid black;
color: black;
background-color: rgb(216, 216, 195);
display: grid;
padding: 30px;
font-size: 24px;
line-height: 40px;
align-items: center;
}

.discover-page .image-gallery {
grid-row: 3/4;
grid-column: 1/4;
border-radius: 10px;


}

.discover-page .image-gallery img {
margin: 1px;
width: 80%;
box-shadow: 0 2px 4px rgba(0, 0, 0, 1);

}

.image-gallery img:hover {
cursor: pointer;
}

.discover-page .image-gallery p {
color: white;
padding: 20px;
background-color: rgba(0, 0, 0, 0.5);
text-shadow:  rgb(0, 0, 0) 2px 2px 5px;
margin: 10px;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 1);


}


.popup {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
z-index: 9999;
}

.popup-content {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 90%;
width: 90%;
transform: scale(1.5);
margin-left: 60px;
margin-right: 60px;
padding: 10px;
margin-top: 70px;
color: white;
}

#popupImage {
max-width: 100%;
max-height: 100%;
opacity: 1;
}

#closeButton {
margin-top: 20px;
font-size: 1em;
padding: 10px 20px;
background-color: #fff;
color: #000;
border: none;
border-radius: 30px;
cursor: pointer;
}

.discover-page img {
opacity: 0; 
transition: opacity 0.3s ease;
}

img.is-visible {
opacity: 1;
transition: opacity 1.3s ease;

}

.image-loaded {
transition: opacity 1.3s ease;
}


/*---------- JOIN ----------*/

.join-page {
  background-color: rgb(216, 216, 195);
  max-height: 300em;
}

.join-page h1 {
  text-align: left;
  display: flex;
  position:absolute;
  margin-left: 30px;
  text-shadow:  rgb(143, 142, 142) 1px 1px 5px;
  font-size: 1.5em;

}

.join-page form {
  background-color: rgb(248, 248, 242);
  border-radius: 10px;
  width: 97.5%;
  padding: .5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  margin-right: 0px;
}

form fieldset {
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: .5rem;
  width: 90%;
  max-width: 22rem;
  display: block;
  text-align: left;
  margin-top: 100px;
  margin-left: 1em;
  margin-bottom: 40px;

}

form legend {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0 .5rem;
  text-align: center;
  font-size: 1em;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: 1.1rem;
  padding-bottom: .9em;
}

form label.top input , form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius:  4px;
  padding: .75rem;
  color: #555;
  width: 80%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);

}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
  margin-left: 2px;
  font-size: 1.1rem;

}

form input.submitBtn {
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: .75rem;
  margin: 5rem 0 2rem;
  width: 96%;
  max-width: 20rem;
  font-size: 1.1rem;
}

form input.submitBtn:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
  cursor: pointer;
}

form label.top input:required {
  border: red solid 2px;
}

form label.top input:required:valid {
  border: green solid 2px;
}

.memberships-info {
  display: grid;
  grid-column: 1/5;
  grid-row: 2/7;
  margin-left: .5em;
  margin-right: .5em;
}

.memberships-info div {
  border-bottom: 1px solid black;
  margin-bottom: 2em;
  margin-top: 1em;
  padding-bottom:  2em;
  margin-right: 1em;
  border-radius: 20px;
  box-shadow:  rgb(84, 84, 84) 2px 2px 5px 1px;
  width: 100%;
}

.memberships-info h2 {
  font-size: 2em;

}

.memberships-info h3 {
  font-size: 1.5em;
  text-align: left;
  margin-left: 1em;

}

.memberships-info ul li {
  text-align: left;
  padding: 5px;   
  font-size: 1em;
}

.np-membership-info {
  background-color: rgba(253, 250, 250, 0.5);
}

.bronze-membership-info {
  background-color: rgba(205, 128, 50, 0.825);
}

.silver-membership-info {
  background-color: rgba(192, 192, 192, 0.876);
}

.gold-membership-info {
  background-color: rgba(255, 217, 0, 0.3);
}

.np-membership-info h2 {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow:  rgb(71, 70, 70) 1px 1px 2px;
  padding: .2em;
}

.bronze-membership-info h2 {
  color: rgb(183, 134, 71);
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow:  rgb(43, 43, 43) 1px 1px 2px;
  padding: .2em;


}

.silver-membership-info h2 {
  color: rgb(86, 142, 147);
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow:  rgb(23, 23, 23) 1px 1px 2px;
  padding: .2em;
}

.gold-membership-info h2 {
  color: rgb(181, 175, 5);
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow:  rgb(0, 0, 0) 1px 1px 5px;
  padding: .2em;
}

/*---------- THANKS ----------*/

.thanks-page {
  background-color: rgb(216, 216, 195);
  padding: 4em;
  display: block;
}

.thanks-message {
  background-color:rgba(0,0,0,0.5);
  padding: 3em;
}

.thanks-message h1 {
  color: white;
  font-size: 2.5em;
}

.thanks-message p {
  color: white;
  font-size: 1.3em;

}

/** ---------- Directory Page ----------**/
.directory-page {
  background-color: rgb(216, 216, 195);
  grid-template-columns: none;
  color: black;
  max-height: 320em;
}

.cards {
  display: grid;
  grid-template-columns: repeat( minmax(320px, 1fr));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  justify-items: center;
  margin: 10px;
  width: 100%;
}

.directory-page .card {
  margin: .2em .4em .2em 0px;
  background-color: rgb(251, 251, 251);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  width: 20em;
  height: 31em;

}

.directory-page .card img {
  width: auto;
  height: 15em;
}

.directory-page #business-list.list {
  max-height: 21em;
  margin-top: -5em;
}

#business-list.list .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin: 10px 15px 10px 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  height: 11em;
  width: 89%;
}

#business-list.list .card img {
  display: none;
}

#business-list.list .card h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 24px;
}

#business-list.list .card p,a {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 24px;
}

.directory-page .buttons {
  height: 5em;
  display: flex;
  justify-content: center;
  
}

.directory-page .buttons button {
  height: 3em;
  padding: 1em;
  font-size: 1em;
  margin: 1em;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}


/** ---------- CONTACT PAGE ---------- **/

.contact-page {
  color: black;
  background-color: rgb(216, 216, 195);
  max-height: 300em;
  display: block;
}

.contact-page .contact-info {
  background-color: white;
  margin: 2em;
  padding: 2em;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.contact-page .contact-info a {
  display: flex;
  margin-left: 0em;
  padding: 0;
}

.contact-page p {
  padding: .3em;
}

.contact-page .board-directors {
  background-color: white;
  margin: 2em;
  padding: 2em;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.contact-page .board-directors p{
  padding: 1em;
}

.contact-page form {
  background-color: white;
  margin: 2em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  padding: 2.5em;
}

.contact-page form fieldset {
  width: 100%;
  margin: .1em;
}

.contact-page form input, .contact-page form textarea{
  background-color: rgb(228, 216, 216);
  padding: .4em;
  margin: .5em;
}

.contact-page form label {
  text-align: left;
  width: 80%;
}

.contact-page form textarea{
  width: 100%;
  max-width: 20em;
  max-height: 30em;
  min-height: 10em;
  min-width: 15em;
}

.contact-page .submitBtn {
  color: white;
  background-color: rgb(136, 54, 54);
}









