@media only screen and (min-width: 1024px) {

/* Header */

.headers button {
    display: none;
}

.nav-bar ul#primaryNav{
    display: none;
}

.nav-bar ul#secondaryNav {
    display: flex;
}
.nav-bar ul li a{
    font-size: 20px;
}

/* Main */

main {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: repeat(3, 2fr );
    height: 100vh;

}

.event {
    grid-column: 1/2;
    grid-row: 1/2;
}

.weather {
    grid-column: 1/2;
    grid-row: 2/3;
}


.weather-title {
    font-size: 32px;
}

#wind-speed, #wind-chill, #temperature{
    font-size: 18px;

}

.join {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 24px;
}

.hero {
    grid-column: 2/3;
    grid-row: 1/3;
}

.news {
    grid-column: 2/3;
    grid-row: 3/4;
}

.news-p {
    font-size: 18px;
}

.sections {
    grid-column: 3/4;
    grid-row: 1/4;
    display: block;
}

.spotlight1, .spotlight2, .spotlight3 {
        width: auto;
        height: 30%;
    
}

footer {
    font-size: 20px;
}



}