
body{
  margin: 0 auto;
  background: linear-gradient(to bottom, #ccf2ff, #99e6ff, #66d9ff, #33ccff, #00bfff, #00cc99);
}


h1 {
  text-align: center;
  font-size: 3em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 2em;
  text-shadow: rgb(79, 79, 79) 1px 1px 5px;
}

div img{
  display: block;
  height: 400px ;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 8px;
}

img{
  width: 300px;
  height: 400px;
  box-shadow: 1px 1px 5px 1px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
